lb-venv
*.pyc
__pycache__
literalbrasil/db.sqlite3
literalbrasil/static
literalbrasil/media
literalbrasil/.DS_Store
literalbrasil/.vscode

# dependencies
literalbrasil/literalbrasil-fe/node_modules
literalbrasil/literalbrasil-fe/.pnp
literalbrasil/literalbrasil-fe/.pnp.js

# testing
literalbrasil/literalbrasil-fe/coverage

# production
literalbrasil/literalbrasil-fe/build

# misc
literalbrasil/literalbrasil-fe/.DS_Store
literalbrasil/literalbrasil-fe/.env.local
literalbrasil/literalbrasil-fe/.env.development.local
literalbrasil/literalbrasil-fe/.env.test.local
literalbrasil/literalbrasil-fe/.env.production.local

literalbrasil/literalbrasil-fe/npm-debug.log*
literalbrasil/literalbrasil-fe/yarn-debug.log*
literalbrasil/literalbrasil-fe/yarn-error.log*